body {
	display: flex;
}

.container {
	background:;
}
/*ul{
	display: flex;
	flex-wrap: wrap; il va à la ligne qd plus de place
	justify-content: center; Les objets flexibles sont groupés au centre 
	padding: 20px;*/

h1{
	text-align: center;
}
#classement{
	text-align: center;
}
form {
	float: left;
}